Terminology of "absolute IRI" differs from RFC 3986 / 3987?

In JSON-LD spec, "absolute IRI" is actually same as "IRI" in RFC 3987 (defined by `IRI` rule), but not "absolute IRI" in RFC 3987 (defined by `absolute-IRI` rule).

> An absolute IRI is defined in [RFC3987] as containing a scheme along with path and optional query and fragment segments.
>
> --- [Section 3.2 (IRIs) in JSON-LD-SYNTAX](https://w3c.github.io/json-ld-syntax/#iris)

> The absolute form of an IRI containing a scheme along with a path and optional query and fragment segments.
>
> --- [Section 1.4 (Terminology) in JSON-LD-SYNTAX](https://w3c.github.io/json-ld-syntax/#terminology)

> IRI reference: Denotes the common usage of an Internationalized Resource Identifier.  An IRI reference may be absolute or relative.  However, the "IRI" that results from such a reference only includes absolute IRIs; any relative IRI references are resolved to their absolute form.  Note that in [RFC2396] URIs did not include fragment identifiers, but in \[RFC3986] fragment identifiers are part of URIs.
>
> [Section 1.3 (Definitions) in RFC 3987](https://tools.ietf.org/html/rfc3987#section-1.3)

> Some protocol elements allow only the absolute form of a URI without a fragment identifier.  For example, defining a base URI for later use by relative references calls for an absolute-URI syntax rule that does not allow a fragment.
>
>     absolute-URI  = scheme ":" hier-part [ "?" query ]
>
>
> --- [Section 4.3 (Absolute URI) in RFC 3986](https://tools.ietf.org/html/rfc3986#section-4.3)

It seems that RFC 3986 (and also 3987) defines hierarchy of some kinds of URIs / IRIs:

```
URI reference         (absolute or relative. fragment part is allowed)
|-- URI               (absolute. fragement is allowed)
|   `-- absolute URI  (absolute. fragment is NOT allowed)
`-- relative URI      (relative. fragment is allowed)
```

Simply saying "URI" (and "IRI") automatically means it is absolute, and it should be called "IRI reference" to include relative IRI.
"Absolute IRI" (defined by `absolute-IRI` rule) seems to be unable to have a fragment.
(However, RFC also saying "absolute form" of IRI references, so RFC itself is confusing...)

So, I think "absolute IRI" in JSON-LD spec and "absolute IRI" in RFC differs.
The former is defined by `IRI` rule and called "IRI" in RFC, but the latter is defined by `absolute-IRI` rule.

Conclusion:

* JSON-LD-SYNTAX says "Terms imported from Internationalized Resource Identifiers (IRIs) \[RFC3987]" at [section 1.4 (Terminology)](https://w3c.github.io/json-ld-syntax/#terminology),
    + and "absolute IRI" is described as "The absolute form of an IRI containing a scheme along with a path and optional query and fragment segments."
* However, it seems "absolute IRI" refers different syntax from RFC 3987.

I'm sorry if I am misunderstanding...

**Option 2**

We bite the bullet and we explain in the terminology section that our use of "absolute IRI" and "relative IRI" is not strictly aligned with RFC 3987, but that we decided to keep it because

* this is how the original JSON-LD 1.0 spec was written,
* it makes the rest of the text a little less verbose than the correct terms,
* we believe that this clearer for most developers.

I think the other option is to just use `IRI` for `absolute IRI`, and `relative IRI reference` for `relative IRI`. There are some cases where we may use `IRI` in an inconsistent way, but this better aligns us with best practice.

The Terminology references are directly to the RFCs, and not into our own Terminology section, so we probably can't count on people seeing this when looking up a term, but we do that already for list/array.