Update spec references

## Multiple specs
* RFC-CONCEPTS => RFC11-CONCEPTS
* RFC2119 => RFC8174
* RFC5988 => RFC8288
* RFC6839 => RFC7303
* RFC7159 => RFC8259

## In API
ECMASCRIPT-6.0 => ECMASCRIPT – version is now 9.0, not in spec ref, but ECMASCRIPT links to it.
