Why xsd:double? Why not xsd:decimal?

I note that in the [section on conversion of native data-types](https://www.w3.org/TR/2019/CR-json-ld11-20191212/#conversion-of-native-data-types), numbers with fractions are interpreted as `xsd:double` rather than `xsd:decimal`. 

That is counter-intuitive to me when dealing with interpretation of a serialization, since conversion of a literal to a double is not exact in general. 



I would expect that JSON conversions to various languages convert to float/double by default. It may lead to serious complications if the JSON-LD interpretation would be radically different: the idea is to provide an easy path from vanilla JSON usage to JSON expressing Linked Data.

It is perfectly possible to set the conversion to `xsd:decimal` explicitly in the `@context`, though:

```json
{
  "@context" : {
    "xsd" : "http://www.w3.org/2001/XMLSchema#",
    "example": {
      "@id": "http://www.example.org/example",
      "@type": "xsd:decimal"
    }
  },
  "example" : 1.2345
}
```

The section you refer to only define the default conversion to Turtle.

The standard [Turtle interpretation of a number-with-fraction](https://www.w3.org/TR/turtle/#abbrev) is `xsd:decimal`, so there may be a complication here. Perhaps little more explanation in the text of why this is different is warranted? (it surprised me)

I agree with @iherman's interpretation, and made a PR where this rationale is explained. This has to checked by @gkellogg or other members of the JSON-LD 1.0 team, though...

Text updated in #319.

@dr-shorthair, please indicate if this update satisfactorily addresses your concern.

Thank you. This does provide an explanation and alerts users to the solution selected. 

(I remain suspicious about the general principle of reflexively casting numbers transported as strings into something different. But probably a battle to be fought elsewhere, sometime, maybe ...). 

This issue was discussed in [a meeting](https://www.w3.org/2018/json-ld-wg/Meetings/Minutes/2019/2019-12-20-json-ld#section4-1).

- `RESOLVED:  Close syntax#318 as solved`
<details><summary><i class="differentiate">View the transcript</i></summary>
4.1. xsd:double vs xsd:decimal<br/>
Rob Sanderson: <a href="https://github.com/w3c/json-ld-syntax/issues/318">https://github.com/w3c/json-ld-syntax/issues/318</a><br/>
Gregg Kellogg: The JSON data model uses IEEE floats, they can not reliably encode doubles.<br/>
Proposed resolution: Close syntax#318 as solved (Rob Sanderson)<br/>
Rob Sanderson: +1<br/>
Gregg Kellogg: The spec has been updated to add a note. This should be sufficient to close the issue.<br/>
Ivan Herman: +1<br/>
Ruben Taelman: +1<br/>
Gregg Kellogg: +1<br/>
Pierre-Antoine Champin: +1<br/>
Resolution #2: Close syntax#318 as solved<br/>
Jeff Mixter: +1<br/>
Tim Cole: +1<br/>
</details>

Interesting. The proposed solution is to leave the type for numbers with fractions as xsd:double, yet the comment from Gregg Kellogg in the meeting minutes suggests that even that may be incorrect since JSON uses float internally. So is this issue resolved correctly? 

It dos use float internally, but integers, at least within a certain range, can be unambiguously identified. We covered this in depth in 1.0.

But is float the same as double these days? If JSON-LD number+fraction is cast to xsd:double, but JSON uses float internally, isn't there still an inconsistency?

From: Gregg Kellogg <notifications@github.com>
Sent: Sunday, 22 December, 2019 11:41
To: w3c/json-ld-syntax <json-ld-syntax@noreply.github.com>
Cc: Cox, Simon (L&W, Clayton) <Simon.Cox@csiro.au>; Mention <mention@noreply.github.com>
Subject: Re: [w3c/json-ld-syntax] Why xsd:double? Why not xsd:decimal? (#318)


It dos use float internally, but integers, at least within a certain range, can be unambiguously identified. We covered this in depth in 1.0.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/w3c/json-ld-syntax/issues/318?email_source=notifications&email_token=AAEUQL52C65DTLWMSDFW5K3QZ2ZQ7A5CNFSM4J3U36C2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEHPGJ6Q#issuecomment-568222970>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AAEUQL66VFDZPB7WJITALV3QZ2ZQ7ANCNFSM4J3U36CQ>.


@dr-shorthair See [RFC8259 section 6 on numbers](https://tools.ietf.org/html/rfc8259#section-6). interoperability is generally the same as IEEE double precision floating point values, which is the same as xsd:double.

Note that the [JSON Canonicalization Scheme](https://tools.ietf.org/html/draft-rundgren-json-canonicalization-scheme-05#section-3.2.2.3), which we use when transforming JSON literals to RDF, does show a decimal-like representation (333333333.3333333) it could potentially be used to carve out a subset of xsd:decimal that could be generated, but without hints in the context, there would be no way to distinguish between what should be a decimal, float or double, so we're pretty might back where we were.

Of course, by this logic, how to distinguish double `1e0`, or `1.0` from integer `1`; this is where we took license in how to consider when transforming, which seems to have good acceptance.